<div class="container-fluid bg-light text-#222222-50 border-top mt-4 py-3 px-3 px-sm-1">
    <div class="container">
        <div class="row gy-4">
            <div class="col-12 col-md-4">
                <h5 class="text-#222222 mb-2">
                    <a class="text-#222222 text-decoration-none f-logo" href="/">COZIO</a>
                </h5>
                <p class="small mb-0">

                </p>
            </div>

            <div class="col-6 col-md-4">
                <h6 class="text-#222222 mb-2">Quick Links</h6>
                <ul class="list-unstyled small mb-0 f-nav">
                    <li><a href="/" class=" text-decoration-none">Home</a></li>
                    <li><a href="/listings" class="text-#222222-50 text-decoration-none">All Listings</a></li>
                    <li><a href="#" class="text-#222222-50 text-decoration-none">About Us</a></li>
                    <li><a href="#" class="text-#222222-50 text-decoration-none">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-4">
                <h6 class="text-#222222 mb-2">Follow Us</h6>
                <p class="small mb-2">Connect With Us</p>
                <div>
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-x-twitter"></i>
                    <i class="fa-solid fa-square-envelope x"></i>
                </div>
            </div>

            <hr class="mt-2" style="border-top: 1px solid rgba(255, 255, 255, 0.454);">

            <div class="row small">
                <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                    <p class="mb-0">&copy; <%= new Date().getFullYear() %> COZIO. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <a href="#" class="text-#222222-50 text-decoration-none ms-2">Privacy Policy</a>
                    <a href="#" class="text-#222222-50 text-decoration-none ms-2">Terms of Use</a>
                </div>
            </div>
        </div>
    </div>